
<div class="service-box">
    <div class="image-holder">
        <img src="http://localhost/{{product.image}}" />
    </div>
</div>
<h1>{{product.name}}</h1>
    
<div class="details">
    <p><b>Measure:</b> {{product.Measure}}</p>
    <p><b>Grams:</b> {{product.Grams}}g</p>
    <p><b>Calories:</b> {{product.Calories}} Calories</p>
    <p><b>Protein:</b> {{product.Protein}}g</p>
    <p><b>Fat:</b> {{product.Fat}}g</p>
    <p><b>Fiber:</b> {{product.Fiber}}g</p>
    <p><b>Cards:</b> {{product.Carbs}}g</p>
    <p><b>Category:</b> {{product.Category}}g</p>
    <p><b>Description:</b> {{product.description}}</p>

<div>