

.example-container {
    width: 50%;
    float: left;
    margin-top: 15%;
    position: relative;
    left: 10%;
  
  }
  
  .down {
    width: 50%;
    float: right;
    margin-top: 05%;
    position: relative;
    left: 10%;
    
    
    
  }
  mat-card{
    margin-top: 15px;
    margin-right: 40%;
  }
  
mat-form-field{
  width: 400px;
}
  
  