.box
{
    height: 60px;
    text-align: center;
    margin-top: -40px;
    margin-left: -70px;
    
}

a{
    text-decoration: none;
    color: black;
    
}
mat-card{
    margin-right: 30%;
    margin-bottom: -50%;
}